---
- name: Check if 32 bit architecture is enabled
  ansible.builtin.command: dpkg --print-foreign-architectures
  register: architecture
  changed_when: false

- name: Enable 32 bit architecture
  when:
    - '"i386" not in architecture.stdout'
    - not (ansible_facts['distribution'] == "Ubuntu" and ansible_facts['distribution_version'] | float >= 25.10)
  ansible.builtin.command: dpkg --add-architecture i386
  changed_when: false

- name: Set APT priority for winehq
  ansible.builtin.copy:
    dest: /etc/apt/preferences.d/wine
    mode: '0644'
    content: |
      Package: *
      Pin: release o=dl.winehq.org
      Pin-Priority: 501

- name: Check if OS is Linux Mint
  when: ansible_facts['distribution'] == "Linux Mint"
  block:
    - name: Set distribution for Linux Mint
      ansible.builtin.set_fact:
        wine_os_distribution: "ubuntu"
        wine_os_release: "noble"

    - name: Set release for Linux Mint
      when: ansible_facts['distribution_release'] == item.mint
      ansible.builtin.set_fact:
        wine_os_release: "{{ item.ubuntu }}"
      loop:
        - { mint: "zena", ubuntu: "noble" }
        - { mint: "zara", ubuntu: "noble" }
        - { mint: "xia", ubuntu: "noble" }
        - { mint: "wilma", ubuntu: "noble" }
        - { mint: "virginia", ubuntu: "jammy" }
        - { mint: "victoria", ubuntu: "jammy" }
        - { mint: "vera", ubuntu: "jammy" }
        - { mint: "vanessa", ubuntu: "jammy" }

- name: Set distribution and release facts for {{ ansible_facts['distribution'] }}
  when: ansible_facts['distribution'] != "Linux Mint"
  ansible.builtin.set_fact:
    wine_os_distribution: "{{ ansible_facts['distribution'] | lower }}"
    wine_os_release: "{{ ansible_facts['distribution_release'] }}"

- name: Add repository
  ansible.builtin.deb822_repository:
    name: winehq
    types: deb
    uris: "https://dl.winehq.org/wine-builds/{{ wine_os_distribution }}"
    suites: "{{ wine_os_release }}"
    components: main
    architectures:
      - amd64
      - i386
    signed_by: https://dl.winehq.org/wine-builds/winehq.key
    state: present
    enabled: true

- name: Update APT cache
  ansible.builtin.apt:
    update_cache: true
